.top-banner {
    background-image: url("images/bannerbackground.png");
    padding: 241px;
    background-size: cover;
	background-repeat: no-repeat;
}
.txt-dec {
    font-size: 45px;
    font-weight: 400;
    position: relative;
    bottom: 69px;
    color: #0fbbbb;
}
.top-banner .btn {
    background-image: linear-gradient(to bottom, #00f3ff 0%, #0674e6e3 100%);
    color: #fff;
    border: none;
    border-radius: 21px;
    padding: 10px 41px;;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    right: -231px;
    bottom: 51px;
}
.btn:hover {
    color: #fff;
}
.btn:focus {
    box-shadow: none;
}