.appointment-time .btn {
    background-image: linear-gradient(to bottom, #00f3ff 0%, #0674e6e3 100%);
    color: #fff;
    border: none;
    border-radius: 21px;
    padding: 10px 41px;;
    font-size: 17px;
    font-weight: 600;
}
.appointment-time .btn:hover {
    color: #fff;
}
.appointment-time .btn:focus {
    box-shadow: none;
}
.appointment-time .card {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 15px;
    margin-left: 131px;
}
.appointment-time .title-text {
    font-size: 29px;
    color: #0fc3e6;
    margin-left: 213px;
}
.appointment-time .title-card-text {
    color: #0fc3e6;
}
/* .appointment-time .card-body-gap {
    margin-left: 10px;
} */
/* .appointment-time .card:hover {
    border: none;
    color: #e60658f1;
    border-radius: 10px;
    box-shadow: 13px -13px 17px -15px #e60658f1;
} */