.navbar-brand {
    margin-right: 37rem;
}
.navbar-brand img {
    margin-left: 81px;
    width: 15%;
}
.navbar-nav .nav-item {
    padding-right: 28px;
}
.navbar-nav .nav-link {
    padding-left: 28px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(15, 187, 186, 1);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(15, 187, 186, 1);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}
.signUp-btn {
    background-image: linear-gradient(to bottom, #00f3ff 0%, #0674e6e3 100%);
    color: #fff;
    border: none;
    border-radius: 21px;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 500;
}
